body {
 margin:0;
 background-color:#f2f2f2;
 font-family:'Libre Franklin',sans-serif
}
img {
 max-width:100%;
 align-self:center;
 width:100%
}
a {
 color:#000;
 text-decoration:none
}
.bodycopy a {
 text-decoration:underline
}
h1,
h2,
h3,
h4,
p {
 margin:0;
 padding:0
}
h1,
h2,
h3,
h4,
nav a,
th {
 font-family:ImperialBTWXX-Roman,serif;
 font-weight:400;
 font-style:normal
}
h1,
h2,
h3 {
 text-align:center
}
h1 {
 font-size:1.9em
}
.headerhome h1,
.headerhome h3 {
 text-align:left
}
h2 {
 font-size:1.7em;
 margin-bottom:3vh
}
.header_child h2 {
 margin:0
}
h3 {
 font-size:1.2em;
 margin:1vh 1vw 3vh
}
.header_child h3 {
 margin:0
}
h4 {
 font-size:.9em;
 padding-bottom:1.5vh
}
nav h4 {
 font-size:1em
}
footer h4 {
 padding-bottom:1vh
}
p {
 font-family:'Libre Franklin',sans-serif;
 padding-bottom:7vh;
 font-size:.9em;
 line-height:135%
}
.gallery p {
 width:55vw
}
footer p {
 font-size:.8em;
 padding:.5vh .5vw
}
#subhead,
.subhead {
 text-align:center
}
header,
nav,
.dropdown:hover .dropdowncontent,
.dropdowncontent:hover,
.dropdown:focus .dropdowncontent,
.flex,
#nav2,
#nav4,
.parent,
.child,
.column,
.bodycopy,
.home,
.homenav,
.homeslidedesc,
.homeslidedesc:hover,
.toplevel,
.toplevelhome,
.shoprow,
.slideshow,
.demo,
.gallery,
.galleryimg,
.gallerychild,
.galleryimg div,
footer,
.footerparent,
.hide-m {
 display:flex
}
.dropdowncontent,
#nav2m,
#minus,
#home1,
#home2,
#home3,
.nav3,
.hide-d {
 display:none
}
.flexcol {
 flex-direction:column
}
.flexrow {
 flex-direction:row
}
.justifybetween {
 justify-content:space-between
}
.justifyaround {
 justify-content:space-around
}
.justifycenter {
 justify-content:center
}
.aligncenter {
 align-items:center
}
.justend {
 justify-content:flex-end
}
.flexwrap {
 flex-wrap:wrap
}
.nomargin {
 margin:0!important
}
header img {
 width:5vw
}
.headerhome .header_child {
 margin-left:3vw
}
.header_parent {
 margin:2vh 8vw;
 width:100vw
}
.header_child {
 width:70vw
}
.headerlink {
 text-decoration:none
}
nav {
 max-width:86vw;
 align-items:center;
 justify-content:space-between;
 padding:1vh 8vw;
 border-top:solid#c30
}
nav .navparent:hover,
nav .navactive {
 border-bottom:solid 1.5vh#c30
}
.navactive {
 color:#c30
}
ul {
 margin:0;
 padding:0;
 list-style:none
}
.bodycopy ul {
 list-style:initial;
 margin-left:4vw
}
.bodycopy ul li p {
 padding-bottom:4vh
}
.dropdowncontent {
 padding:1vh 1vw;
 margin-top:1vh;
 border:none;
 background-color:rgb(204,51,0);
 background-color:rgb(204,51,0,.8);
 opacity:0;
 transition:1s;
 flex-direction:column;
 position:absolute;
 z-index:2
}
.dropdowncontent a {
 color:#fff
}
nav a {
 font-size:1em;
 margin-bottom:2vh
}
.dropdown:hover .dropdowncontent,
.dropdowncontent:hover,
.dropdown:focus .dropdowncontent {
 opacity:1
}
#nav2 {
 border-right:solid#c30;
 padding-right:2.5vw;
 padding-top:5vh;
 padding-left:8vw;
 padding:5vh 2.5vw 0;
 width:20vw
}
#nav2 p {
 padding-bottom:4vh;
 font-size:1em
}
#nav2 a {
 text-decoration:none;
 color:#000
}
#nav2active {
 color:#c30!important
}
#nav2 ul li ul {
 list-style:circle;
 padding-left:4vw
}
#nav4 {
 z-index:5;
 position:fixed;
 top:0;
 right:0;
 background-image:url('mobilebg.jpg');
 background-size:cover;
 flex-direction:column;
 font-size:1.2em;
 text-align:center;
 align-items:center;
 justify-content:center;
 visibility:hidden;
 width:100vw;
 height:100vh;
 max-width:100%;
 max-height:100%
}
#nav4 p {
 padding-bottom:4vh
}
#nav4 img {
 width:10vw
}
.parent {
 border-top:solid#c30;
 flex-direction:column;
 align-items:center;
 justify-content:center
}
.child {
 margin-top:5vh;
 flex-direction:column;
 width:70vw
}
.width100 {
 width:100vw;
 max-width:100%
}
.column {
 flex-direction:column
}
.bodycopy {
 width:55vw;
 flex-direction:column;
 margin-left:5vw
}
.bodycopy img {
 width:40vw
}
.home {
 width:100%;
 height:100vh;
 flex-direction:row;
 overflow:hidden;
 background-repeat:no-repeat;
 background-size:cover
}
.homenav {
 position:absolute;
 left:7vw;
 top:40vh;
 width:7vw;
 background-color:rgb(255,255,255);
 background-color:rgb(255,255,255,.9);
 flex-direction:column;
 align-items:center;
 padding:3vh 1vw 0;
 text-align:center;
 z-index:5
}
.homenav img {
 width:4vw
}
.home .slideshow {
 margin:0;
 width:initial;
 height:80vh;
 border:none;
 padding:0
}
.home .slideshow .demo {
 width:100vw;
 padding:0;
 margin:0
}
.home .slideshow .demo ul li {
 margin:0
}
.home .slideshow .demo img {
 border:none;
 width:100%;
 margin:0;
 padding:0
}
#home1 {
 top:40vh;
}
#home2 {
 top:54vh
}
#home3 {
 top:75vh;
}
.homeslidedesc {
 position:absolute;
 left:16vw;
 width:25vw;
 background-color:rgb(255,255,255);
 background-color:rgb(255,255,255,.9);
 padding:1vh 2vw 2vh;
 flex-direction:column
}
.homeslidedesc ul {
 padding-left:2vw;
 list-style:circle;
 font-size:1.2em
}
.homeslidedesc p {
 font-size:1.1em;
 padding:0
}
.homeslidedesc h3 {
 text-align:left;
 margin:0;
 margin:1vh 0;
 font-size:1.3em
}
.homenav p {
 padding-bottom:2vh;
 font-size:1.175em
}
.homeslidedesc h4 {
 font-size:.75em
}
.hometext {
 width:40vw;
 padding:7vh 5vw 0
}
.toplevel {
 background-color:rgb(35,41,82);
 background-color:rgb(35,41,82,.9);
 padding:5vh 5vw 0;
 margin:10vh 10vw 40vh;
 max-width:20vw;
 max-width:fit-content;
 text-align:center
}
.toplevelimg {
 height:auto;
 width:100%;
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center
}
.toplevelhome {
 background-color:rgb(242,242,242);
 background-color:rgb(242,242,242,.9);
 padding:5vh 5vw 2vh;
 margin:10vh 10vw;
 max-width:25vw;
 text-align:center
}
#toplevelabout {
 background-image:url('https://haridwar.tourismindia.co.in/images/places-to-visit/header/shantikunj-gayatri-parivar-haridwar-tourism-entry-fee-timings-holidays-reviews-header.jpg')
}
#toplevelteachings {
 background-image:url('https://ramakrishna.org/img/crowd.jpeg')
}
#toplevelteachings .toplevel {
 margin-bottom:10vh
}
#toplevelrmkorder {
 background-image:url('https://ramakrishna.org/img/belur_math3.jpg')
}
#toplevelactivities {
 background-image:url('https://ramakrishna.org/img/classes.jpg')
}
#toplevelmedia {
 background-image:url('https://ramakrishna.org/img/150celebration.jpg')
}
#toplevelmedia .toplevel,
#toplevelabout .toplevel {
 margin-bottom:50vh
}
#toplevelhome {
 background-image:url('https://haridwar.tourismindia.co.in/images/places-to-visit/header/shantikunj-gayatri-parivar-haridwar-tourism-entry-fee-timings-holidays-reviews-header.jpg')
}
.toplevel a {
 color:#fff;
 text-decoration:none
}
.toplevel p {
 padding-bottom:5vh;
 text-align:left
}
.toplevelhome p {
 padding-bottom:3vh;
 text-align:left
}
.toplevelhome a {
 color:#000;
 padding-bottom:5vh
}
.bottommargin {
 margin-bottom:5vh
}
.topmargin {
 margin-top:5vh
}
.invitation p {
 text-align:center;
 padding-bottom:3vh
}
.borderbottom {
 border-bottom:solid#c30;
 margin-bottom:10vh;
 padding-bottom:5vh
}
.bordertop {
 border-top:solid#c30;
 margin-top:2.5vh;
 padding-top:2.5vh
}
.topmargin10 {
 margin-top:10vh;
 margin-bottom:0
}
.bottommargin20 {
 margin-bottom:20vh
}
.center {
 text-align:center
}
#service {
 width:70vw
}
.mapouter {
 text-align:right;
 height:55vh;
 width:50vw;
 margin-bottom:10vh
}
iframe {
 overflow:hidden;
 background:none!important;
 height:55vh;
 width:55vw
}
table {
 border:solid 5px#c30;
 margin:0 0 5vh;
 width:55vw
}
table td {
 padding:2.5vh 2.5vw;
 border:solid 2px#c30
}
table,
th,
td {
 border-collapse:collapse
}
table tr td:nth-child(1) {
 width:10vw
}
th {
 padding:1vh 1vw
}
td p,
td h3 {
 margin:0;
 padding:0
}
.photo {
 padding:1vh 1vw;
 margin:0;
 width:40vw;
 margin-bottom:5vh
}
.photo input {
 width:5vw
}
.photo img {
 width:15vw
}
#wrap {
 width:15vw;
 margin:2vh 2.5vw 2vh 0;
 float:left
}
.shoprow {
 flex-direction:row;
 margin:0 0 5vh;
 padding-bottom:5vh;
 border-bottom:3px solid#ccc
}
.shoprow div {
 width:70%;
 margin-left:4vw
}
.shoprow img {
 width:30%
}
.shoprow div p {
 padding-bottom:1vh
}
.featured-audiobooks {
 border-bottom:3px solid #ccc;
 padding-bottom:5vh;
 margin-bottom:2vh
}
.featured-audiobooks button,
.featured-audiobooks button:active {
 width:auto;
 height:unset;
 margin: 1vh 1vw 1vh 0;
 border-color:#084c86;
 background-color:#084c86;
 box-shadow:0 22px 0 0 rgba(255,255,255,.2)inset,0 1px 0 0 rgba(255,255,255,.65)inset,0 5px 0 0 #1167b1,0 6px 5px 0 rgba(0,0,0,.25),0 6px 2px 0 rgba(0,0,0,.25);
 text-decoration:none;
}
.featured-audiobooks button:hover {
 background-color:#04335b
}
.featured-audiobooks button a {
 text-decoration:none;
}
.featured-audiobooks {
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 margin:0!important;
 width:100%!important;
 justify-content:center;
}
.audiobooks .shoprow {
 border-bottom:0;
 margin-bottom:0;
 margin-top:5vh;
}
.purchase-buttons {
 display:flex;
 flex-direction:row;
 align-items:center;
 width:100%!important;
 margin-left:0!important;
 margin-bottom:4vh;
 flex-wrap:wrap;
}
.purchase-buttons img {
 width:50px;
 height:50px;
 margin: 0 0 10px 10px
}
button {
 font-size:1.2em;
 width:12vw;
 height:7vh;
 margin-bottom:1vh;
 background-color:#c30;
 box-shadow:0 22px 0 0 rgba(255,255,255,.2)inset,0 1px 0 0 rgba(255,255,255,.65)inset,0 5px 0 0#992600,0 6px 5px 0 rgba(0,0,0,.25),0 6px 2px 0 rgba(0,0,0,.25);
 border-bottom-color:#c30;
 color:#fff;
 border:solid 1px#e63900;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 font-weight:bold;
 padding:5px 15px;
 text-shadow:-1px -1px 0 rgba(0,0,0,.15);
 -webkit-transition:all.075s linear;
 -moz-transition:all.075s linear;
 transition:all.075s linear;
 cursor:pointer
}
button a {
 color:#fff;
 text-decoration:none
}
button:hover {
 background-color:#e63900
}
button a:hover {
 color:#fff
}
button:active {
 box-shadow:0 22px 0 0 rgba(255,255,255,.2)inset,0 1px 0 0 rgba(255,255,255,.65)inset,0 2px 0 0#c30,0 3px 5px 0 rgba(0,0,0,.25),0 3px 2px 0 rgba(0,0,0,.25);
 position:relative;
 top:3px
}
.donate {
 border:none;
}
.donatep {
 border: 2px solid #cc3300;
 padding:1vh 1vw;
}
.donatep p {
 padding-bottom:0;
 text-align:center;
}
input,
select {
 border:2px solid#c30;
 background-color:#f2f2f2
}
.shopinternal p {
 padding-bottom:3vh
}
.shopinternal button {
 margin-bottom:3vh
}
#botm {
 border:solid#c30;
 padding-top:1vh;
 margin-bottom:2vh
}
#botm .shoprow {
 border:none;
 margin-bottom:0
}
#botm h2 {
 border-bottom:solid#c30
}
#botm img {
 padding-left:2vw
}
#botm p,
#botm h3 {
 padding-right:2vw
}
.demo {
 margin:3vw;
 justify-content:center;
 background-color:#fff;
 width:53vw;
 padding:4vw 3vw
}
.slideshow {
 border:solid#c30;
 padding:.7vw;
 width:39vw;
 margin:0 6vw 3vw
}
.gallery {
 flex-direction:column;
 align-items:center;
 margin-left:5vw
}
.gallerychild {
 flex-direction:column;
 margin-bottom:5vh;
 background-color:#511400;
 width:65vw
}
.galleryimg {
 align-items:center;
 flex-direction:column
}
.galleryimg div {
 flex-direction:row;
 padding-left:5vw
}
.galleryimg div img,
.galleryimg div a {
 width:15vw;
 padding-right:3vw
}
footer {
 background-color:#f7b009cf;
 flex-direction:column;
 align-items:center;
 padding-bottom:2vh
}
.footerparent {
 width:86vw;
 margin:5vh 7vw;
 flex-direction:row;
 justify-content:space-between
}
#footerchild1 {
 width:35vw
}
#footerchild2 {
 text-align:right
}
#yt {
 padding:1vh 0 0 1vw
}
#fb,
#yt {
 height:2vw;
 width:auto
}
footer a,
footer p {
 color:#fff;
 text-decoration:none
}
@media(max-width:900px) {
 .headerhome h1,
 .headerhome h3 {
  text-align:center
 }
 .header_parent {
  flex-direction:column;
  margin:3vh 0
 }
 .header_child,
 .headerhome {
  margin-left:0!important
 }
 .header_child {
  width:60vw;
  margin-left:0;
  text-align:center
 }
 #nav2 {
  display:none
 }
 header img {
  width:10vw
 }
 nav {
  max-width:90vw;
  padding:1vh 5vw
 }
 .child {
  width:90vw
 }
 .flexcol-t {
  flex-direction:column
 }
 .bodycopy {
  width:80vw;
  margin-left:8vw
 }
 .toplevel {
  max-width:30vw;
  max-width:fit-content
 }
 #nav2 {
  border:1vw solid rgb(35,41,82);
  border-top:none;
  width:78vw;
  padding:5vh 4vw 0;
  margin:0 5vw
 }
 #nav2m {
  display:flex;
  width:78vw;
  background-color:rgb(35,41,82);
  height:7vw;
  justify-content:space-between;
  align-items:center;
  color:#fff;
  margin:5vh 5vw 0;
  padding:0 5vw
 }
 #nav2m img {
  width:4vw
 }
 #nav2m p {
  padding:0
 }
 .gallery {
  margin-left:0
 }
 .gallerychild {
  width:82vw
 }
 .demo {
  width:70vw
 }
 .slideshow {
  width:48vw;
  margin:0 10vw 3vw
 }
 #home1 {
  top:55vh
 }
 #home2 {
  top:73vh
 }
 #home3 {
  top:93vh;
 }
 .homeslidedesc {
  top:55vh;
  left:19vw;
  width:50vw
 }
 .homenav {
  top:55vh;
  width:10vw
 }
 .homenav img {
  width:7vw
 }
 footer img {
  width:3vw
 }
 footer {
  padding:5vh 3vw 5vh 8vw
 }
 .footerparent {
  margin:0
 }
 #footerchild1 {
  margin-bottom:2vh;
  width:50vw
 }
 #footerchild2 {
  text-align:left
 }
 .shoprow button,
 .shopinternal button {
  width:40vw
 }
 #wrap {
  width:20vw
 }
 table {
  width:70vw
 }
 table tr td:nth-child(1) {
  width:20vw
 }
}
@media(max-width:600px) {
 #toplevelabout,
 #toplevelhome {
  background-image:url('https://haridwar.tourismindia.co.in/images/places-to-visit/header/shantikunj-gayatri-parivar-haridwar-tourism-entry-fee-timings-holidays-reviews-header.jpg')
 }
 #toplevelteachings {
  background-image:url('https://ramakrishna.org/img/crowd_m.jpg')
 }
 #toplevelrmkorder {
  background-image:url('https://ramakrishna.org/img/belur_math3_m.jpg')
 }
 #toplevelactivities {
  background-image:url('https://ramakrishna.org/img/classes_m.jpg')
 }
 #toplevelmedia {
  background-image:url('https://ramakrishna.org/img/150celebration_m.jpg')
 }
 .hide-d,
 .nav3 {
  display:flex
 }
 .hide-m,
 #banner,
 nav {
  display:none
 }
 .header_child {
  width:95vw
 }
 header img {
  width:20vw
 }
 h1 {
  font-size:1.5em
 }
 h2 {
  font-size:1.2em
 }
 h3 {
  font-size:1.3em
 }
 p {
  font-size:.8em
 }
 .child,
 .galleryimg div img,
 .galleryimg div a,
 .gallerychild,
 .slideshow,
 .mapouter {
  width:90vw
 }
 .galleryimg a,
 .galleryimg a img,
 #footer1,
 .bodycopy,
 .gallery p,
 iframe {
  width:85vw
 }
 .child {
  margin:5vh 0
 }
 #nav2m {
  height:10vh
 }
 #nav2m img {
  width:8vw
 }
 .homeslidedesc ul,
 .homenav p {
  font-size:1.1em
 }
 .homeslidedesc h3 {
  font-size:1.3em
 }
 .homeslidedesc ul {
  padding-left:10vw
 }
 .homenav {
  padding: 3vh 3vw 0
 }
 #home2 {
  top:78vh
 }
 .homenav img {
  width:15vw
 }
 .homeslidedesc {
  top:55vh;
  left:31vw;
  width:57vw;
  padding:4vw
 }
 .homenav {
  top:55vh;
  width:20vw;
  left:5vw
 }
 .flexcol-m {
  flex-direction:column
 }
 .flexrow-m {
  flex-direction:row
 }
 .aligncenter-m {
  align-items:center
 }
 .bodycopy,
 .gallery p {
  margin:2vh 7.5vw
 }
 .bodycopy img {
  width:80vw;
  align-items:center
 }
 .bottommargin20 {
  margin-bottom:10vh
 }
 .nav3 {
  position:fixed;
  justify-content:space-around;
  align-items:center;
  bottom:0;
  left:0;
  width:100vw;
  height:8vh;
  background-color:#c30;
  color:#fff;
  z-index:10
 }
 .nav3 img {
  width:15vw
 }
 .galleryimg div {
  flex-direction:row;
  flex-wrap:wrap;
  padding-left:5vw
 }
 #service {
  width:95vw
 }
 footer {
  margin-bottom:8vh
 }
 #yt,
 #fb {
  height:4vh;
  padding:2vh 5vw
 }
 .toplevel,
 .toplevelhome {
  margin:5vh 5vw;
  max-width:50vw;
  max-width:fit-content
 }
 .toplevel p,
 .toplevelhome p {
  padding-bottom:2.5vh
 }
 .demo {
  width:78vw
 }
 .slideshow {
  margin:3vh 4vh;
  width:60vw
 }
 #wrap {
  width:40vw
 }
 .shoprow {
  flex-direction:column
 }
 .shoprow div {
  width:95%
 }
 .shoprow img {
  width:50vw;
  margin-bottom:5vh
 }
 .shoprow button,
 .shopinternal button {
  width:95%
 }
 .donate {
  flex-direction:column;
 }
 .donatep {
  margin:1vh 0;
 }
}
@media(min-width:1800px) {
 h1 {
  font-size:3em
 }
 h2 {
  font-size:2.7em
 }
 h3 {
  font-size:2em
 }
 h4 {
  font-size:1.5em
 }
 nav a {
  font-size:2.3em
 }
 p {
  font-size:2.5em
 }
 footer p,
 #nav2 p {
  font-size:1.8em
 }
 .slideshownav button {
  width:6vw;
  margin:0 1.5vw 0 .5vw;
  height:4vh;
  font-size:2em
 }
 #home2 {
  top:54vh
 }
}
